<a href="https://colab.research.google.com/github/KMate-ISD/Machine_learning/blob/main/Jupyter_experiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## This is a level 2 header

||Item A|Item B|
|:-|-:|-:|
|`set A`|233|103|
|`set B`|244|89|

### $$N(0, 1)\to\varphi(\frac{x-0}{1})$$
$$f(x)=\frac{1}{\sqrt{2\pi}}e^{-\frac{t^2}{2}}$$

In [3]:
%time
print('\nTable of squares')
for i in range(10):
  print(f'{i} times {i} equals {i*i}.')

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.25 µs

Table of squares
0 times 0 equals 0.
1 times 1 equals 1.
2 times 2 equals 4.
3 times 3 equals 9.
4 times 4 equals 16.
5 times 5 equals 25.
6 times 6 equals 36.
7 times 7 equals 49.
8 times 8 equals 64.
9 times 9 equals 81.